<a href="https://colab.research.google.com/github/sivasamy1/data_analytics/blob/main/airport_airlines_miniproject_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [9]:
import pandas as pd
from tabulate import tabulate

In [ ]:
df_airports = pd.read_csv("/content/drive/MyDrive/data_analytics/airport/airports.dat.txt")
df_airports.columns = ["Airport_ID","Name","City","Country","IATA","ICAO","Latitude","Longitude","Altitude","Timezone","DST","Tz database timezone","Type","Source"]

print(tabulate(df_airports.head(10), headers='keys', tablefmt='psql'))

+----+--------------+---------------------------------------------+--------------+------------------+--------+--------+------------+-------------+------------+------------+-------+------------------------+---------+-------------+
|    |   Airport_ID | Name                                        | City         | Country          | IATA   | ICAO   |   Latitude |   Longitude |   Altitude |   Timezone | DST   | Tz database timezone   | Type    | Source      |
|----+--------------+---------------------------------------------+--------------+------------------+--------+--------+------------+-------------+------------+------------+-------+------------------------+---------+-------------|
|  0 |            2 | Madang Airport                              | Madang       | Papua New Guinea | MAG    | AYMD   |   -5.20708 |    145.789  |         20 |         10 | U     | Pacific/Port_Moresby   | airport | OurAirports |
|  1 |            3 | Mount Hagen Kagamuga Airport                | Mount Hagen  | Papua New Guinea | HGU    | AYMH   |   -5.82679 |    144.296  |       5388 |         10 | U     | Pacific/Port_Moresby   | airport | OurAirports |
|  2 |            4 | Nadzab Airport                              | Nadzab       | Papua New Guinea | LAE    | AYNZ   |   -6.5698  |    146.726  |        239 |         10 | U     | Pacific/Port_Moresby   | airport | OurAirports |
|  3 |            5 | Port Moresby Jacksons International Airport | Port Moresby | Papua New Guinea | POM    | AYPY   |   -9.44338 |    147.22   |        146 |         10 | U     | Pacific/Port_Moresby   | airport | OurAirports |
|  4 |            6 | Wewak International Airport                 | Wewak        | Papua New Guinea | WWK    | AYWK   |   -3.58383 |    143.669  |         19 |         10 | U     | Pacific/Port_Moresby   | airport | OurAirports |
|  5 |            7 | Narsarsuaq Airport                          | Narssarssuaq | Greenland        | UAK    | BGBW   |   61.1605  |    -45.426  |        112 |         -3 | E     | America/Godthab        | airport | OurAirports |
|  6 |            8 | Godthaab / Nuuk Airport                     | Godthaab     | Greenland        | GOH    | BGGH   |   64.1909  |    -51.6781 |        283 |         -3 | E     | America/Godthab        | airport | OurAirports |
|  7 |            9 | Kangerlussuaq Airport                       | Sondrestrom  | Greenland        | SFJ    | BGSF   |   67.0122  |    -50.7116 |        165 |         -3 | E     | America/Godthab        | airport | OurAirports |
|  8 |           10 | Thule Air Base                              | Thule        | Greenland        | THU    | BGTL   |   76.5312  |    -68.7032 |        251 |         -4 | E     | America/Thule          | airport | OurAirports |
|  9 |           11 | Akureyri Airport                            | Akureyri     | Iceland          | AEY    | BIAR   |   65.66    |    -18.0727 |          6 |          0 | N     | Atlantic/Reykjavik     | airport | OurAirports |
+----+--------------+---------------------------------------------+--------------+------------------+--------+--------+------------+-------------+------------+------------+-------+------------------------+---------+-------------+

## **PART I**
### **1. Top 20 highest altitude airports in the world. Choose only “type” with “airport”**

In [ ]:
df_airport = df_airports[df_airports["Type"] == "airport"]
df_top20 = df_airport.sort_values(by='Altitude', ascending=False).head(20)
df_top20['Rank'] = df_top20['Altitude'].rank(ascending=False)

df_top20_final = df_top20[['Airport_ID', 'Name', 'City', 'Country', 'Altitude', 'Rank']]

print(tabulate(df_top20_final, headers='keys', tablefmt='psql'))

+------+--------------+----------------------------------------+-------------+-----------+------------+--------+
|      |   Airport_ID | Name                                   | City        | Country   |   Altitude |   Rank |
|------+--------------+----------------------------------------+-------------+-----------+------------+--------|
| 6541 |         9310 | Daocheng Yading Airport                | Daocheng    | China     |      14472 |      1 |
| 5027 |         6396 | Qamdo Bangda Airport                   | Bangda      | China     |      14219 |      2 |
| 6392 |         8921 | Kangding Airport                       | Kangding    | China     |      14042 |      3 |
| 5871 |         7932 | Ngari Gunsa Airport                    | Shiquanhe   | China     |      14022 |      4 |
| 2624 |         2762 | El Alto International Airport          | La Paz      | Bolivia   |      13355 |      5 |
| 2626 |         2764 | Capitan Nicolas Rojas Airport          | Potosi      | Bolivia   |      12913 |      6 |
| 5850 |         7894 | Yushu Batang Airport                   | Yushu       | China     |      12816 |      7 |
| 6419 |         8969 | Copacabana Airport                     | Copacabana  | Bolivia   |      12591 |      8 |
| 2653 |         2792 | Inca Manco Capac International Airport | Juliaca     | Peru      |      12552 |      9 |
| 7537 |        13483 | Golog Maqin Airport                    | Golog       | China     |      12426 |     10 |
| 5777 |         7766 | Syangboche Airport                     | Syangboche  | Nepal     |      12400 |     11 |
| 2625 |         2763 | Juan Mendoza Airport                   | Oruro       | Bolivia   |      12152 |     12 |
| 3873 |         4097 | Lhasa Gonggar Airport                  | Lhasa       | China     |      11713 |     13 |
| 6802 |        10943 | Hongyuan Airport                       | Ngawa       | China     |      11600 |     14 |
| 2341 |         2464 | La Quiaca Airport                      | Laboulaye   | Argentina |      11414 |     15 |
| 4039 |         4301 | Jiuzhai Huanglong Airport              | Jiuzhaigou  | China     |      11327 |     16 |
| 2648 |         2787 | Andahuaylas Airport                    | Andahuaylas | Peru      |      11300 |     17 |
| 5498 |         7313 | Uyuni Airport                          | Uyuni       | Bolivia   |      11136 |     18 |
| 2652 |         2791 | Francisco Carle Airport                | Jauja       | Peru      |      11034 |     19 |
| 3941 |         4174 | Manang Airport                         | Manang      | Nepal     |      11001 |     20 |
+------+--------------+----------------------------------------+-------------+-----------+------------+--------+

## **2. Top 20 countries that have the highest total number of airports.** ##

In [18]:

df_top_20_countries = df_airports.groupby(['Country']).size().to_frame('total_airports').reset_index(drop=False)
df_top_20_countries = df_top_20_countries.sort_values(by=['total_airports'],ascending=False)
df_top_20_countries ['rank'] = df_top_20_countries['total_airports'].rank(ascending=False)
df_top_20_countries = df_top_20_countries.head(20)

print(tabulate(df_top_20_countries, headers='keys', tablefmt='psql'))

+-----+----------------+------------------+--------+
|     | Country        |   total_airports |   rank |
|-----+----------------+------------------+--------|
| 223 | United States  |             1512 |    1   |
|  37 | Canada         |              430 |    2   |
|  11 | Australia      |              334 |    3   |
| 176 | Russia         |              264 |    4.5 |
|  27 | Brazil         |              264 |    4.5 |
|  79 | Germany        |              249 |    6   |
|  43 | China          |              241 |    7   |
|  73 | France         |              217 |    8   |
| 222 | United Kingdom |              167 |    9   |
|  97 | India          |              148 |   10   |
|  98 | Indonesia      |              145 |   11   |
| 106 | Japan          |              123 |   12   |
| 195 | South Africa   |               99 |   13   |
|   8 | Argentina      |               96 |   14   |
| 136 | Mexico         |               84 |   15   |
| 104 | Italy          |               83 |   16   |
|  99 | Iran           |               82 |   17   |
| 204 | Sweden         |               77 |   18   |
| 215 | Turkey         |               76 |   19   |
|  46 | Colombia       |               75 |   20   |
+-----+----------------+------------------+--------+

### **3. Top 20 cities that have the highest total number of airports. (Two cities from different countries can have the same name, and you have to make sure the numbers are not messed up due to that!)** ###

In [44]:
df_top20_cities = df_airports.groupby(['City']).size().reset_index(name='total_airports')
df_top20_cities = df_top20_cities.sort_values(by='total_airports', ascending=False)
df_top20_cities['rank'] = df_top20_cities['total_airports'].rank(ascending=False)
df_top20_cities = df_top20_cities[['City', 'total_airports', 'rank']].head(20).reset_index(drop=True)

print(tabulate(df_top20_cities, headers='keys', tablefmt='psql'))

+----+--------------+------------------+--------+
|    | City         |   total_airports |   rank |
|----+--------------+------------------+--------|
|  0 | London       |                9 |    1   |
|  1 | Columbus     |                8 |    2   |
|  2 | Georgetown   |                7 |    3.5 |
|  3 | San Jose     |                7 |    3.5 |
|  4 | Houston      |                6 |    8   |
|  5 | New York     |                6 |    8   |
|  6 | Moscow       |                6 |    8   |
|  7 | Alexandria   |                6 |    8   |
|  8 | Jacksonville |                6 |    8   |
|  9 | Santiago     |                6 |    8   |
| 10 | Greenville   |                6 |    8   |
| 11 | Victoria     |                5 |   17   |
| 12 | Burlington   |                5 |   17   |
| 13 | Atlanta      |                5 |   17   |
| 14 | Hamilton     |                5 |   17   |
| 15 | Rome         |                5 |   17   |
| 16 | Richmond     |                5 |   17   |
| 17 | San Antonio  |                5 |   17   |
| 18 | Athens       |                5 |   17   |
| 19 | Izmir        |                5 |   17   |
+----+--------------+------------------+--------+

### **4. Pair of cities that have the same name, but from two different countries.** ###
### (hint: Use self join with query in Python) ###

In [ ]:
same_name_cities = []
grouped = df_airports.groupby('City')

for city, group in grouped:
    if len(group) > 1:
        countries = group['Country'].tolist()
        for i in range(len(group)):
            for j in range(i + 1, len(group)):
                country_a = group.iloc[i]['Country']
                country_b = group.iloc[j]['Country']
                if country_a != country_b:
                    pair = tuple(sorted([country_a, country_b]))
                    same_name_cities.append((city, pair[0], city, pair[1]))

same_name_cities_df = pd.DataFrame(same_name_cities, columns=['City_A', 'Country_A', 'City_B', 'Country_B']).drop_duplicates()

print(same_name_cities_df)

         City_A       Country_A      City_B      Country_B
0      Aberdeen  United Kingdom    Aberdeen  United States
2        Albany       Australia      Albany  United States
4    Alexandria           Egypt  Alexandria         Greece
5    Alexandria           Egypt  Alexandria  United States
9    Alexandria          Greece  Alexandria  United States
..          ...             ...         ...            ...
285    Victoria           Chile    Victoria  United States
288     Vitoria          Brazil     Vitoria          Spain
289      Warsaw          Poland      Warsaw  United States
292    Waterloo          Canada    Waterloo  United States
293  Wellington     New Zealand  Wellington  United States

[164 rows x 4 columns]

## **PART II**

In [ ]:
|df_airports2 = pd.read_csv("/content/drive/MyDrive/data_analytics/Airports2.csv")

print(tabulate(df_airports2.head(20), headers='keys', tablefmt='psql'))

+----+------------------+-----------------------+---------------+--------------------+--------------+---------+-----------+------------+------------+---------------------+--------------------------+-------------------+--------------------+--------------------+---------------------+
|    | Origin_airport   | Destination_airport   | Origin_city   | Destination_city   |   Passengers |   Seats |   Flights |   Distance | Fly_date   |   Origin_population |   Destination_population |   Org_airport_lat |   Org_airport_long |   Dest_airport_lat |   Dest_airport_long |
|----+------------------+-----------------------+---------------+--------------------+--------------+---------+-----------+------------+------------+---------------------+--------------------------+-------------------+--------------------+--------------------+---------------------|
|  0 | MHK              | AMW                   | Manhattan, KS | Ames, IA           |           21 |      30 |         1 |        254 | 2008-10-01 |              122049 |                    86219 |           39.141  |           -96.6708 |           nan      |              nan    |
|  1 | EUG              | RDM                   | Eugene, OR    | Bend, OR           |           41 |     396 |        22 |        103 | 1990-11-01 |              284093 |                    76034 |           44.1246 |          -123.212  |            44.2541 |             -121.15 |
|  2 | EUG              | RDM                   | Eugene, OR    | Bend, OR           |           88 |     342 |        19 |        103 | 1990-12-01 |              284093 |                    76034 |           44.1246 |          -123.212  |            44.2541 |             -121.15 |
|  3 | EUG              | RDM                   | Eugene, OR    | Bend, OR           |           11 |      72 |         4 |        103 | 1990-10-01 |              284093 |                    76034 |           44.1246 |          -123.212  |            44.2541 |             -121.15 |
|  4 | MFR              | RDM                   | Medford, OR   | Bend, OR           |            0 |      18 |         1 |        156 | 1990-02-01 |              147300 |                    76034 |           42.3742 |          -122.873  |            44.2541 |             -121.15 |
|  5 | MFR              | RDM                   | Medford, OR   | Bend, OR           |           11 |      18 |         1 |        156 | 1990-03-01 |              147300 |                    76034 |           42.3742 |          -122.873  |            44.2541 |             -121.15 |
|  6 | MFR              | RDM                   | Medford, OR   | Bend, OR           |            2 |      72 |         4 |        156 | 1990-01-01 |              147300 |                    76034 |           42.3742 |          -122.873  |            44.2541 |             -121.15 |
|  7 | MFR              | RDM                   | Medford, OR   | Bend, OR           |            7 |      18 |         1 |        156 | 1990-09-01 |              147300 |                    76034 |           42.3742 |          -122.873  |            44.2541 |             -121.15 |
|  8 | MFR              | RDM                   | Medford, OR   | Bend, OR           |            7 |      36 |         2 |        156 | 1990-11-01 |              147300 |                    76034 |           42.3742 |          -122.873  |            44.2541 |             -121.15 |
|  9 | SEA              | RDM                   | Seattle, WA   | Bend, OR           |            8 |      18 |         1 |        228 | 1990-02-01 |             5154164 |                    76034 |           47.449  |          -122.309  |            44.2541 |             -121.15 |
| 10 | SEA              | RDM                   | Seattle, WA   | Bend, OR           |          453 |    3128 |        23 |        228 | 1990-01-01 |             5154164 |                    76034 |           47.449  |          -122.309  |            44.2541 |             -121.15 |
| 11 | SEA              | RDM                   | Seattle, WA   | Bend, OR           |          784 |    2720 |        20 |        228 | 1990-02-01 |             5154164 |                    76034 |           47.449  |          -122.309  |            44.2541 |             -121.15 |
| 12 | SEA              | RDM                   | Seattle, WA   | Bend, OR           |          749 |    2992 |        22 |        228 | 1990-03-01 |             5154164 |                    76034 |           47.449  |          -122.309  |            44.2541 |             -121.15 |
| 13 | SEA              | RDM                   | Seattle, WA   | Bend, OR           |           11 |      18 |         1 |        228 | 1990-04-01 |             5154164 |                    76034 |           47.449  |          -122.309  |            44.2541 |             -121.15 |
| 14 | PDX              | RDM                   | Portland, OR  | Bend, OR           |          349 |     851 |        23 |        116 | 1990-01-01 |             1534762 |                    76034 |           45.5887 |          -122.598  |            44.2541 |             -121.15 |
| 15 | PDX              | RDM                   | Portland, OR  | Bend, OR           |         1376 |    2898 |       161 |        116 | 1990-01-01 |             1534762 |                    76034 |           45.5887 |          -122.598  |            44.2541 |             -121.15 |
| 16 | PDX              | RDM                   | Portland, OR  | Bend, OR           |          444 |    1110 |        30 |        116 | 1990-10-01 |             1534762 |                    76034 |           45.5887 |          -122.598  |            44.2541 |             -121.15 |
| 17 | PDX              | RDM                   | Portland, OR  | Bend, OR           |         1949 |    3261 |       187 |        116 | 1990-06-01 |             1534762 |                    76034 |           45.5887 |          -122.598  |            44.2541 |             -121.15 |
| 18 | PDX              | RDM                   | Portland, OR  | Bend, OR           |          381 |     814 |        22 |        116 | 1990-02-01 |             1534762 |                    76034 |           45.5887 |          -122.598  |            44.2541 |             -121.15 |
| 19 | PDX              | RDM                   | Portland, OR  | Bend, OR           |         1559 |    2772 |       154 |        116 | 1990-02-01 |             1534762 |                    76034 |           45.5887 |          -122.598  |            44.2541 |             -121.15 |
+----+------------------+-----------------------+---------------+--------------------+--------------+---------+-----------+------------+------------+---------------------+--------------------------+-------------------+--------------------+--------------------+---------------------+

In [ ]:
print(tabulate(df_airports2, headers='keys', tablefmt='psql'))

SyntaxError: invalid syntax (<ipython-input-8-29dd47dcf893>, line 1)


### **1.In the year 2009, print Top 10 cities in the USA that received maximum inbound flights.**
### **Output:**
### **city,total_inbound_flights,rank**

In [28]:
top_10_cities_2009 = df_airports2[(df_airports2['Fly_date'] >= '2009-01-01') & (df_airports2['Fly_date'] <= '2009-12-31')].groupby('Origin_city').size().nlargest(10).to_frame('total_inbound_flights')
top_10_cities_2009['Rank'] = top_10_cities_2009['total_inbound_flights'].rank(ascending=False)
top_10_cities_2009 = top_10_cities_2009.reset_index()
top_10_cities_2009.columns = ['City', 'Total_inbound_flights', 'Rank']
print(tabulate(top_10_cities_2009, headers='keys', tablefmt='psql'))

+----+------------------+-------------------------+--------+
|    | City             |   Total_inbound_flights |   Rank |
|----+------------------+-------------------------+--------|
|  0 | Chicago, IL      |                   10730 |      1 |
|  1 | Atlanta, GA      |                    8431 |      2 |
|  2 | Washington, DC   |                    6443 |      3 |
|  3 | New York, NY     |                    6158 |      4 |
|  4 | Houston, TX      |                    6059 |      5 |
|  5 | Detroit, MI      |                    5993 |      6 |
|  6 | Charlotte, NC    |                    5989 |      7 |
|  7 | Dallas, TX       |                    5964 |      8 |
|  8 | Minneapolis, MN  |                    5799 |      9 |
|  9 | Philadelphia, PA |                    5561 |     10 |
+----+------------------+-------------------------+--------+

### **2. In the year 2009, print Top 10 cities in the USA that received maximum outbound flights.**
### **Output:**
### **city,total_inbound_flights,rank**

In [29]:
top_10_cities_2009 = df_airports2[(df_airports2['Fly_date'] >= '2009-01-01') & (df_airports2['Fly_date'] <= '2009-12-31')].groupby('Destination_city').size().nlargest(10).to_frame('total_inbound_flights')
top_10_cities_2009['Rank'] = top_10_cities_2009['total_inbound_flights'].rank(ascending=False)
top_10_cities_2009 = top_10_cities_2009.reset_index()
top_10_cities_2009.columns = ['City', 'Total_outbound_cities', 'Rank']
print(tabulate(top_10_cities_2009, headers='keys', tablefmt='psql'))

+----+------------------+-------------------------+--------+
|    | City             |   Total_outbound_cities |   Rank |
|----+------------------+-------------------------+--------|
|  0 | Chicago, IL      |                   10821 |      1 |
|  1 | Atlanta, GA      |                    8561 |      2 |
|  2 | Washington, DC   |                    6439 |      3 |
|  3 | New York, NY     |                    6426 |      4 |
|  4 | Dallas, TX       |                    6300 |      5 |
|  5 | Houston, TX      |                    6287 |      6 |
|  6 | Charlotte, NC    |                    5916 |      7 |
|  7 | Detroit, MI      |                    5906 |      8 |
|  8 | Minneapolis, MN  |                    5853 |      9 |
|  9 | Philadelphia, PA |                    5497 |     10 |
+----+------------------+-------------------------+--------+

### **3. In between 1999-2009, print Top 10 cities in the USA that received maximum  outbound flights.**
### **Output:**
### **city,total_outbound_flights, rank**

In [20]:
top_10_cities_99to09 = df_airports2[(df_airports2['Fly_date'] >= '1999-01-01') & (df_airports2['Fly_date'] <= '2009-12-31')].groupby('Destination_city').size().nlargest(10).to_frame('total_outbound_flights')
top_10_cities_99to09['Rank'] = top_10_cities_99to09['total_outbound_flights'].rank(ascending=False)
top_10_cities_99to09 = top_10_cities_99to09.reset_index()
top_10_cities_99to09.columns = ['City', 'Total_outbound_cities', 'Rank']
print(tabulate(top_10_cities_99to09, headers='keys', tablefmt='psql'))

+----+------------------+-------------------------+--------+
|    | City             |   Total_outbound_cities |   Rank |
|----+------------------+-------------------------+--------|
|  0 | Chicago, IL      |                  111786 |      1 |
|  1 | Atlanta, GA      |                   84350 |      2 |
|  2 | Dallas, TX       |                   74922 |      3 |
|  3 | Houston, TX      |                   69317 |      4 |
|  4 | Detroit, MI      |                   68430 |      5 |
|  5 | New York, NY     |                   63182 |      6 |
|  6 | Minneapolis, MN  |                   63137 |      7 |
|  7 | Washington, DC   |                   59605 |      8 |
|  8 | Philadelphia, PA |                   54023 |      9 |
|  9 | Memphis, TN      |                   52369 |     10 |
+----+------------------+-------------------------+--------+

### **4. In between 1999-2009, the Top 10 cities in the USA carry the maximum total number of passengers on outbound flights. The city column in the output will also have its state (For example San Francisco, CA).**
### **Output:**
### **city,total_num_passengers,rank**

In [35]:
top_10_cities_99to09 = df_airports2[(df_airports2['Fly_date'] >= '1999-01-01') & (df_airports2['Fly_date'] <= '2009-12-31')].groupby('Destination_city').agg(Total_num_passengers=('Origin_population', 'sum'))
top_10_cities_99to09 = top_10_cities_99to09.nlargest(10, 'Total_num_passengers')
top_10_cities_99to09['Rank'] = top_10_cities_99to09['Total_num_passengers'].rank(ascending=False)
top_10_cities_99to09 = top_10_cities_99to09.reset_index()
top_10_cities_99to09.columns = ['City', 'Total_num_passengers', 'Rank']
print(tabulate(top_10_cities_99to09, headers='keys', tablefmt='psql'))

+----+-------------------+------------------------+--------+
|    | City              |   Total_num_passengers |   Rank |
|----+-------------------+------------------------+--------|
|  0 | Chicago, IL       |           537905956790 |      1 |
|  1 | Atlanta, GA       |           418125732578 |      2 |
|  2 | Washington, DC    |           391508693952 |      3 |
|  3 | New York, NY      |           386025020279 |      4 |
|  4 | Houston, TX       |           344181823436 |      5 |
|  5 | Detroit, MI       |           339917824014 |      6 |
|  6 | Dallas, TX        |           309259997929 |      7 |
|  7 | Los Angeles, CA   |           297038085400 |      8 |
|  8 | San Francisco, CA |           282247908348 |      9 |
|  9 | Minneapolis, MN   |           280666224420 |     10 |
+----+-------------------+------------------------+--------+