<a href="https://colab.research.google.com/github/sivasamy1/data_analytics/blob/main/ebola_song.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
import pandas as pd
from tabulate import tabulate

## **PART I**

In [33]:
df = pd.read_csv('/content/drive/MyDrive/data_analytics/MINIPROJECT_6/ebola_data_db_format.csv')
list(df)
print(df.head(5))

                                           Indicator Country        Date  \
0  Cumulative number of confirmed, probable and s...  Guinea  2015-03-10
1         Cumulative number of confirmed Ebola cases  Guinea  2015-03-10
2          Cumulative number of probable Ebola cases  Guinea  2015-03-10
3         Cumulative number of suspected Ebola cases  Guinea  2015-03-10
4  Cumulative number of confirmed, probable and s...  Guinea  2015-03-10

    value
0  3285.0
1  2871.0
2   392.0
3    22.0
4  2170.0

### **1.1 Distinct number of Indicators in the universe (complete dataset).**
### **Expected Output:**
### **Integer value**

In [22]:
indicators = df['Indicator'].nunique()
print("Distinct # if indicators:\n", indicators)

Distinct # if indicators:
 36

### **1.2 In the second half of the year 2015, how many countries have one or more “Cumulative number of confirmed Ebola cases”**
### **Expected Output:**
### **Integer value**

In [51]:
confirmed = df[(df['Date'] >= '01-07-2015') & (df['Date'] <= '30-12-2015')]
confirmed = confirmed.where(df['Indicator'] == "Cumulative number of confirmed Ebola cases")
confirmed = confirmed['Country'].nunique()
print(confirmed)

12

### **1.3 Top 10 total Ebola cases confirmed. Note that Indicator = Cumulative number of confirmed Ebola cases. Include rank based on the total value (=cases confirmed).**
### **Expected Output:**
### **country, total_value, rank**

In [64]:
confirmed = df.where(df['Indicator'] == "Cumulative number of confirmed Ebola cases")\
            .groupby(["Country"]).size().nlargest(10).to_frame('total_value').reset_index()

confirmed['rank'] = confirmed['total_value'].rank(ascending=False)
print(tabulate(confirmed, headers='keys', tablefmt='github'))

|    | Country                  |   total_value |   rank |
|----|--------------------------|---------------|--------|
|  0 | Guinea                   |           259 |    1.5 |
|  1 | Sierra Leone             |           259 |    1.5 |
|  2 | Liberia                  |           258 |    3   |
|  3 | Nigeria                  |           255 |    4   |
|  4 | Senegal                  |           254 |    5   |
|  5 | United States of America |           245 |    6   |
|  6 | Mali                     |           243 |    7.5 |
|  7 | Spain                    |           243 |    7.5 |
|  8 | United Kingdom           |           221 |    9   |
|  9 | Italy                    |           141 |   10   |

### **1.4 Top 10 countries that have total cases with Indicator = “Cumulative number of confirmed, probable and suspected Ebola deaths” in 2015 Q2 (i.e., April-June 2015).**
### **Expected Output:**
### **country, total_cases, rank**

In [75]:
confirmed = df[(df['Date'] >= '01-04-2015') & (df['Date'] <= '30-06-2015')]
confirmed = confirmed.where(df['Indicator'] == "Cumulative number of confirmed, probable and suspected Ebola deaths")\
      .groupby(['Country']).size().nlargest(10).to_frame('total_cases').reset_index()
confirmed['rank'] = confirmed['total_cases'].rank(ascending=False)
print(tabulate(confirmed, headers='keys', tablefmt='github'))

|    | Country                  |   total_cases |   rank |
|----|--------------------------|---------------|--------|
|  0 | Guinea                   |           259 |    2   |
|  1 | Liberia                  |           259 |    2   |
|  2 | Sierra Leone             |           259 |    2   |
|  3 | Nigeria                  |           255 |    4   |
|  4 | Senegal                  |           254 |    5   |
|  5 | United States of America |           245 |    6   |
|  6 | Mali                     |           243 |    7.5 |
|  7 | Spain                    |           243 |    7.5 |
|  8 | United Kingdom           |           221 |    9   |
|  9 | Italy                    |           141 |   10   |