<a href="https://colab.research.google.com/github/sivasamy1/data_analytics/blob/main/ebola_song.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from tabulate import tabulate

## **PART I**

In [2]:
df = pd.read_csv('/content/drive/MyDrive/data_analytics/MINIPROJECT_6/ebola_data_db_format.csv')
#df['Date'] = pd.to_datetime(df['Date'])
list(df)
print(tabulate(df.head(5), headers='keys'))

    Indicator                                                            Country    Date          value
--  -------------------------------------------------------------------  ---------  ----------  -------
 0  Cumulative number of confirmed, probable and suspected Ebola cases   Guinea     2015-03-10     3285
 1  Cumulative number of confirmed Ebola cases                           Guinea     2015-03-10     2871
 2  Cumulative number of probable Ebola cases                            Guinea     2015-03-10      392
 3  Cumulative number of suspected Ebola cases                           Guinea     2015-03-10       22
 4  Cumulative number of confirmed, probable and suspected Ebola deaths  Guinea     2015-03-10     2170

### **1.1 Distinct number of Indicators in the universe (complete dataset).**
### **Expected Output:**
### **Integer value**

In [34]:
print(df['Country'].unique())
indicators = df['Indicator'].nunique()
print("Distinct # if indicators:\n", indicators)

['Guinea' 'Liberia' 'Sierra Leone' 'United Kingdom' 'Mali' 'Nigeria'
 'Senegal' 'Spain' 'United States of America' 'Italy' 'Liberia 2'
 'Guinea 2']
Distinct # if indicators:
 36

### **1.2 In the second half of the year 2015, how many countries have one or more “Cumulative number of confirmed Ebola cases”**
### **Expected Output:**
### **Integer value**

In [4]:
import datetime

In [5]:
def get_year(row):
    return datetime.datetime.strptime(row['Date'], '%Y-%m-%d').year

In [6]:
df["year"] = df.apply(get_year, axis=1)
df_ebola_2015 = df[(df['Date'] >= "2015-07-01") & (df['Date'] <= "2015-12-31")]
df_ebola_2015 = df.where(df["Indicator"] == "Cumulative number of confirmed Ebola cases").groupby(['Country']).size().to_frame("count").reset_index()
print(len(pd.unique(df_ebola_2015['Country'])))

12

### **1.3 Top 10 total Ebola cases confirmed. Note that Indicator = Cumulative number of confirmed Ebola cases. Include rank based on the total value (=cases confirmed).**
### **Expected Output:**
### **country, total_value, rank**

In [7]:
confirmed = df.where(df['Indicator'] == "Cumulative number of confirmed Ebola cases")\
            .groupby(["Country"]).size().nlargest(10).to_frame('total_value').reset_index()

confirmed['rank'] = confirmed['total_value'].rank(ascending=False)
print(tabulate(confirmed, headers='keys', tablefmt='github'))

|    | Country                  |   total_value |   rank |
|----|--------------------------|---------------|--------|
|  0 | Guinea                   |           259 |    1.5 |
|  1 | Sierra Leone             |           259 |    1.5 |
|  2 | Liberia                  |           258 |    3   |
|  3 | Nigeria                  |           255 |    4   |
|  4 | Senegal                  |           254 |    5   |
|  5 | United States of America |           245 |    6   |
|  6 | Mali                     |           243 |    7.5 |
|  7 | Spain                    |           243 |    7.5 |
|  8 | United Kingdom           |           221 |    9   |
|  9 | Italy                    |           141 |   10   |

### **1.4 Top 10 countries that have total cases with Indicator = “Cumulative number of confirmed, probable and suspected Ebola deaths” in 2015 Q2 (i.e., April-June 2015).**
### **Expected Output:**
### **country, total_cases, rank**

In [43]:
#confirmed = df[(df['Date'] >= '2015-04-01') & (df['Date'] <= '2015-06-30')]
confirmed = df.where(df['Indicator'] == "Cumulative number of confirmed, probable and suspected Ebola deaths")\
      .groupby(['Country']).size().to_frame('total_cases').reset_index()
confirmed['rank'] = confirmed['total_cases'].rank(ascending=False)
confirmed = confirmed.sort_values('rank')

print(tabulate(confirmed.head(10), headers='keys', tablefmt='github'))

|    | Country                  |   total_cases |   rank |
|----|--------------------------|---------------|--------|
|  0 | Guinea                   |           259 |    2   |
|  3 | Liberia                  |           259 |    2   |
|  8 | Sierra Leone             |           259 |    2   |
|  6 | Nigeria                  |           255 |    4   |
|  7 | Senegal                  |           254 |    5   |
| 11 | United States of America |           245 |    6   |
|  5 | Mali                     |           243 |    7.5 |
|  9 | Spain                    |           243 |    7.5 |
| 10 | United Kingdom           |           221 |    9   |
|  2 | Italy                    |           141 |   10   |

### **1.5 Top 10 countries that have total cases with Indicator = “Cumulative number of confirmed probable and suspected Ebola deaths” with only even months of the year 2015 (i.e., months 2, 4, 6, 8, 10, 12).**
### **Expected Output:**
### **country, total_cases, rank**

In [9]:
def get_month(row):
    return datetime.datetime.strptime(row['Date'], '%Y-%m-%d').month

In [38]:
df_ebola_2015['month'] = df.apply(get_month, axis=1)
confirmed = df_ebola_2015[df_ebola_2015['month'] % 2 == 0]

confirmed = confirmed[confirmed['Indicator'] == "Cumulative number of confirmed, probable and suspected Ebola deaths"]\
       .groupby(['Country']).size().to_frame('total_cases').reset_index()
confirmed['rank'] = confirmed['total_cases'].rank(ascending=False)
confirmed = confirmed.sort_values('rank')

print(tabulate(confirmed.head(10), headers='keys', tablefmt='psql'))

+----+--------------------------+---------------+--------+
|    | Country                  |   total_cases |   rank |
|----+--------------------------+---------------+--------|
|  0 | Guinea                   |           105 |      5 |
|  2 | Liberia                  |           105 |      5 |
|  4 | Mali                     |           105 |      5 |
|  5 | Nigeria                  |           105 |      5 |
|  6 | Senegal                  |           105 |      5 |
|  7 | Sierra Leone             |           105 |      5 |
|  8 | Spain                    |           105 |      5 |
|  9 | United Kingdom           |           105 |      5 |
| 10 | United States of America |           105 |      5 |
|  1 | Italy                    |            72 |     10 |
+----+--------------------------+---------------+--------+