In [ ]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/data_analytics/covid/us-counties.csv")

In [ ]:
print(df)

               date      county       state     fips  cases  deaths
0        2020-01-21   Snohomish  Washington  53061.0      1     0.0
1        2020-01-22   Snohomish  Washington  53061.0      1     0.0
2        2020-01-23   Snohomish  Washington  53061.0      1     0.0
3        2020-01-24        Cook    Illinois  17031.0      1     0.0
4        2020-01-24   Snohomish  Washington  53061.0      1     0.0
...             ...         ...         ...      ...    ...     ...
2099369  2022-01-09  Sweetwater     Wyoming  56037.0   8506   110.0
2099370  2022-01-09       Teton     Wyoming  56039.0   7025    14.0
2099371  2022-01-09       Uinta     Wyoming  56041.0   4264    34.0
2099372  2022-01-09    Washakie     Wyoming  56043.0   1914    39.0
2099373  2022-01-09      Weston     Wyoming  56045.0   1263    16.0

[2099374 rows x 6 columns]

### **1. Top 10 states having highest total death in the year 2020**

In [ ]:
#States with the 10 highest death count in 2020
df_deaths_in_2020 = df[(df['date'] >= '2020-01-01') & (df['date'] <= '2020-12-31')]
print(df_deaths_in_2020)
df_top_10_counties_2020 = df_deaths_in_2020.groupby('state')['deaths'].sum().nlargest(10)

#Renaming the columns of output
df_top_10_counties_2020 = pd.DataFrame(df_top_10_counties_2020).reset_index()
df_top_10_counties_2020.columns = ['state', 'highest_deaths']

print(df_top_10_counties_2020)

              date      county       state     fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061.0      1     0.0
1       2020-01-22   Snohomish  Washington  53061.0      1     0.0
2       2020-01-23   Snohomish  Washington  53061.0      1     0.0
3       2020-01-24        Cook    Illinois  17031.0      1     0.0
4       2020-01-24   Snohomish  Washington  53061.0      1     0.0
...            ...         ...         ...      ...    ...     ...
884732  2020-12-31  Sweetwater     Wyoming  56037.0   2966    16.0
884733  2020-12-31       Teton     Wyoming  56039.0   2138     4.0
884734  2020-12-31       Uinta     Wyoming  56041.0   1558     7.0
884735  2020-12-31    Washakie     Wyoming  56043.0    780    19.0
884736  2020-12-31      Weston     Wyoming  56045.0    476     2.0

[884737 rows x 6 columns]
           state  highest_deaths
0       New York       8320598.0
1     New Jersey       3817150.0
2     California       3065113.0
3          Texas       2927740.0
4        Florida       2632238.0
5  Massachusetts       2222455.0
6       Illinois       2211390.0
7   Pennsylvania       2002629.0
8       Michigan       1837617.0
9        Georgia       1363977.0

### **2. Top 10 states having highest total death in the year 2021**

In [ ]:
#States with the 10 highest death count in 2021
df_deaths_in_2021 = df[(df['date'] >= '2021-01-01') & (df['date'] <= '2021-12-31')]
print(df_deaths_in_2021)
df_top_10_counties_2021 = df_deaths_in_2021.groupby('state')['deaths'].sum().nlargest(10)

df_top_10_counties_2021 = pd.DataFrame(df_top_10_counties_2021).reset_index()
df_top_10_counties_2021.columns = ['state', 'highest_deaths']

print(df_top_10_counties_2021)

               date      county    state     fips  cases  deaths
884737   2021-01-01     Autauga  Alabama   1001.0   4239    50.0
884738   2021-01-01     Baldwin  Alabama   1003.0  13823   169.0
884739   2021-01-01     Barbour  Alabama   1005.0   1517    33.0
884740   2021-01-01        Bibb  Alabama   1007.0   1854    46.0
884741   2021-01-01      Blount  Alabama   1009.0   4693    63.0
...             ...         ...      ...      ...    ...     ...
2070105  2021-12-31  Sweetwater  Wyoming  56037.0   8320   107.0
2070106  2021-12-31       Teton  Wyoming  56039.0   5950    14.0
2070107  2021-12-31       Uinta  Wyoming  56041.0   4154    31.0
2070108  2021-12-31    Washakie  Wyoming  56043.0   1879    37.0
2070109  2021-12-31      Weston  Wyoming  56045.0   1254    14.0

[1185373 rows x 6 columns]
          state  highest_deaths
0    California      22532428.0
1         Texas      20088968.0
2      New York      18918470.0
3       Florida      15333245.0
4  Pennsylvania      10025434.0
5    New Jersey       9406432.0
6      Illinois       9306526.0
7       Georgia       7791745.0
8      Michigan       7460163.0
9          Ohio       7327426.0

### **3. Top 10 states having highest average death in the year 2020**

In [ ]:
#States with the 10 highest death average in 2020
average_deaths_per_state_2020 = df_deaths_in_2020.groupby('state')['deaths'].mean().nlargest(10)

average_deaths_per_state_2020 = pd.DataFrame(average_deaths_per_state_2020).reset_index()
average_deaths_per_state_2020.columns = ['state', 'mean_deaths']

print(average_deaths_per_state_2020)

                  state  mean_deaths
0            New Jersey   590.798638
1         Massachusetts   500.102385
2              New York   495.037958
3  District of Columbia   487.983333
4           Puerto Rico   457.537415
5           Connecticut   429.230740
6               Arizona   238.422596
7            California   182.436343
8          Rhode Island   152.694639
9               Florida   135.000410

### **4. Top 10 states having highest average death in the year 2021**

In [ ]:
#States with the 10 highest death average in 2021
average_deaths_per_state_2021 = df_deaths_in_2021.groupby('state')['deaths'].mean().nlargest(10)

average_deaths_per_state_2021 = pd.DataFrame(average_deaths_per_state_2021).reset_index()
average_deaths_per_state_2021.columns = ['state', 'mean_deaths']

print(average_deaths_per_state_2021)

                  state  mean_deaths
0           Puerto Rico  2574.764384
1               Arizona  1196.586783
2         Massachusetts  1174.260274
3            New Jersey  1171.411208
4  District of Columbia  1105.120548
5            California  1064.004722
6           Connecticut   906.108676
7              New York   893.645253
8               Florida   617.777800
9          Rhode Island   444.803653

### **5. Top 10 county having highest total death in 2020 and 2021 year together**
### **Expected Output: county, sum_deaths**

In [ ]:
#Top 10 county having the highest total death in 2020 and 2021
df_deaths_in_2020_and_2021 = df[(df['date'] >= '2020-01-01') & (df['date'] <= '2021-12-31')]
total_deaths_in_2020_and_2021 = df_deaths_in_2020_and_2021.groupby('county')['deaths'].sum().nlargest(10)

total_deaths_in_2020_and_2021 = pd.DataFrame(total_deaths_in_2020_and_2021).reset_index()
total_deaths_in_2020_and_2021.columns = ['county', 'sum_deaths']

print(total_deaths_in_2020_and_2021)

          county  sum_deaths
0  New York City  17791710.0
1    Los Angeles   9955588.0
2           Cook   5257183.0
3       Maricopa   4378737.0
4      Middlesex   3217896.0
5         Orange   3144039.0
6          Wayne   3069484.0
7     Miami-Dade   3058913.0
8         Harris   2960139.0
9     Montgomery   2946807.0

### **7. Print list of Top N states by the least number of death in a specific year. Also needed to be ranked.**

In [ ]:
def top_n_states_least_deaths(df, year, N):
    # Filter DataFrame for specific year
    df['date'] = pd.to_datetime(df['date'], errors='coerce')
    df_year = df[df['date'].dt.year == year]

    df_state_deaths = df_year.groupby('state')['deaths'].sum().reset_index()

    # Sort the states by no. of deaths in ascending order
    df_state_deaths = df_state_deaths.sort_values(by='deaths', ascending=True)

    # Add a rank column for least deaths
    df_state_deaths['rank'] = df_state_deaths['deaths'].rank(method='min')

    # Get the top N states with least deaths
    top_n_states = df_state_deaths.head(N)


    print(f"Top {N} States by Least Deaths in {year}:")
    print(top_n_states[['state', 'deaths', 'rank']])

### **7.a. Top 10 least death states in 2020**

In [ ]:
top_n_states_least_deaths(df, 2020, 10)

Top 10 States by Least Deaths in 2020:
                       state   deaths  rank
36  Northern Mariana Islands    544.0   1.0
49            Virgin Islands   3503.0   2.0
11                      Guam  10424.0   3.0
1                     Alaska  13147.0   4.0
48                   Vermont  16434.0   5.0
54                   Wyoming  20734.0   6.0
12                    Hawaii  27227.0   7.0
20                     Maine  35654.0   8.0
27                   Montana  58866.0   9.0
52             West Virginia  84127.0  10.0

### **7.b. Top 10 least death states in 2021**

In [ ]:
top_n_states_least_deaths(df, 2021, 10)

Top 10 States by Least Deaths in 2021:
                       state    deaths  rank
2             American Samoa       0.0   1.0
37  Northern Mariana Islands     926.0   2.0
50            Virgin Islands   16615.0   3.0
12                      Guam   61389.0   4.0
49                   Vermont  100847.0   5.0
1                     Alaska  163285.0   6.0
13                    Hawaii  222578.0   7.0
55                   Wyoming  316182.0   8.0
21                     Maine  328660.0   9.0
9       District of Columbia  403369.0  10.0

### **8. Print Top N states in the last three months of the year 2021. Also needed to be ranked. Also right this output as a file in folder /content/drive/MyDrive/data_preprocessing with header and no index.**

In [ ]:
def top_N_states_in_last_3_months(df, N):
  df['date'] = pd.to_datetime(df['date'], errors = 'coerce')
  df_last_3_months = df[(df['date'] >= '2021-10-01') & (df['date'] <= '2021-12-31')]
  df_state_deaths = df_last_3_months.groupby('state')['deaths'].sum().reset_index()
  df_least_deaths = df_state_deaths.sort_values(by='deaths', ascending=True).head(N)
  df_least_deaths['rank'] = df_least_deaths['deaths'].rank(method='min')
  print(f"Top {N} States with Least Deaths in the Last 3 Months:")
  print(df_least_deaths[['state', 'deaths', 'rank']])
  df_most_deaths = df_state_deaths.sort_values(by='deaths', ascending=False).head(N)
  df_most_deaths['rank'] = df_most_deaths['deaths'].rank(ascending=False, method='min')
  print(f"Top {N} States with Most Deaths in the Last 3 Months:")
  print(df_most_deaths[['state', 'deaths', 'rank']])

  #Write the output to drive
  least_death_path = '/content/drive/MyDrive/data_analytics/covid/top_10_least_deaths_last_three_months_2021.csv'
  most_death_path = '/content/drive/MyDrive/data_analytics/covid/top_10_most_deaths_last_three_months_2021.csv'

  df_least_deaths[['state', 'deaths', 'rank']].to_csv(least_death_path, header=True, index=False)
  df_most_deaths[['state', 'deaths', 'rank']].to_csv(most_death_path, header=True, index=False)

### **8.a. Top 10 least death states in last three months of the year 2021**

In [ ]:
top_N_states_in_last_3_months(df, 10)

Top 10 States with Least Deaths in the Last 3 Months:
                       state    deaths  rank
2             American Samoa       0.0   1.0
37  Northern Mariana Islands     380.0   2.0
50            Virgin Islands    7588.0   3.0
12                      Guam   22934.0   4.0
49                   Vermont   36152.0   5.0
1                     Alaska   71389.0   6.0
13                    Hawaii   88570.0   7.0
9       District of Columbia  109817.0   8.0
21                     Maine  115144.0   9.0
55                   Wyoming  119311.0  10.0
Top 10 States with Most Deaths in the Last 3 Months:
           state     deaths  rank
5     California  6747934.0   1.0
47         Texas  6662147.0   2.0
10       Florida  5532804.0   3.0
34      New York  5212313.0   4.0
41  Pennsylvania  3005360.0   5.0
15      Illinois  2679721.0   6.0
11       Georgia  2620343.0   7.0
32    New Jersey  2593734.0   8.0
38          Ohio  2354719.0   9.0
24      Michigan  2297090.0  10.0

### **8.b. Top 10 most death states in last three months of the year 2021**

In [ ]:
chunk_size = 10000  # Define chunk size
chunks = [df[i:i+chunk_size] for i in range(0, df.shape[0], chunk_size)]

# Initialize an empty DataFrame to store results
df_same_county_diff_states = pd.DataFrame()

# Process each chunk
for chunk in chunks:
    temp_result = pd.merge(chunk[['county', 'state']], df[['county', 'state']], on='county')
    temp_result = temp_result[temp_result['state_x'] != temp_result['state_y']]
    temp_result = temp_result.drop_duplicates(subset=['county', 'state_x', 'state_y'])

    # Append the result of the chunk to the final DataFrame
    df_same_county_diff_states = pd.concat([df_same_county_diff_states, temp_result], ignore_index=True)

# Rename columns for clarity
df_same_county_diff_states.columns = ['county', 'state_1', 'state_2']

# Print the result
print(df_same_county_diff_states)

             county     state_1     state_2
0              Cook    Illinois     Georgia
1              Cook    Illinois   Minnesota
2            Orange  California    New York
3            Orange  California     Florida
4            Orange  California     Vermont
...             ...         ...         ...
2759875  Santa Cruz  California     Arizona
2759876        Yuma     Arizona    Colorado
2759877        Yuma    Colorado     Arizona
2759878      Nevada    Arkansas  California
2759879      Nevada  California    Arkansas

[2759880 rows x 3 columns]